<h1>Tic Tac Toe</h1>
  <input class="form-control" ng-model="ctrl.gameModel.users.myName" placeholder="Username">
  <input class="form-control" ng-model="ctrl.gameModel.gameName" placeholder="Game name">
<button ng-click="ctrl.createGame()" class="btn btn-default">Create a new game</button>
<div id="gameboard">
  <div class="row">
    <div class="col-sm-4">X</div>
    <div class="col-sm-4">X</div>
    <div class="col-sm-4">X</div>
  </div>
  <div class="row">
    <div class="col-sm-4">X</div>
    <div class="col-sm-4">O</div>
    <div class="col-sm-4">X</div>
  </div>
  <div class="row">
    <div class="col-sm-4">X</div>
    <div class="col-sm-4">O</div>
    <div class="col-sm-4">X</div>
  </div>
</div>
